@font-face {
  font-family: didot;
  src: url("../fonts/didot.ttc");
}

@font-face {
  font-family: avenir-light;
  src: url("../fonts/avenir-light.woff");
}

body {
  font-family: avenir-light;
  font-weight: 100;
}

* {
  font-family: avenir-light;
}

a:hover {
  color: #fff;
  text-decoration: none;
}

ol {
  list-style: none;
  vertical-align: middle;
  display: inline;
}

table {
  border: 1px solid #333;
}

.homepage-background-content {
  background: 
    linear-gradient(
    rgba(250, 101, 86, 0.85), 
    rgba(250, 101, 86, 0.85)
    ), 
    url("http://www.closetworks.com/Portals/70587/images/Simple_PopUp_2.jpg");
  background-position: 70% 70%;
  background-size: cover;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.homepage-header {
  position: relative;
}

.homepage-header-content {
  margin: 50px 150px 50px 150px;
}

.tradesy-logo {
  font-family: didot;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
  float: left;
}

.tradesy-logo-user {
  font-family: didot;
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 6px;
  float: left;
  position: relative;
  top: -13px;
}

.homepage-header-right-links {
  display: inline;
  float: right;
}

.homepage-header-right-links-user {
  display: inline;
  float: right;
  position: relative;
  top: -13px;
}

.homepage-links {
  font-size: 13px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
  padding: 5px 18px 5px 18px;
}

#homepage-links-signup {
  font-weight: 600;
  color: #aaef85;
  border: 2px solid #aaef85;
  border-radius: 5px;
}

#homepage-links-signup:hover {
  color: #fff;
  cursor: pointer;
  border: 2px solid #74c947;
  background-color: #74c947;
  transition: 0.45s;
}

.homepage-main-content {
  position: relative;
  margin: 150px 150px 150px 150px;
  color: #fff;
}

.homepage-main-content-text {
  margin-top: 300px;
  text-align: center;
}

.closet-cash {
  font-size: 35px;
  letter-spacing: 3px;
  font-weight: 800;
}

.closet-headline {
  font-size: 25px;
  letter-spacing: 2px;
  margin: 15px 0px 15px 0px;
}

.start-selling {
  font-size: 20px;
  letter-spacing: 1px;
  color: #fff;
  background: linear-gradient(-180deg, #74C947 0, #3db94b 100%);
  border: none;
  border-radius: 5px;
  margin: 5px 0px 5px 0px;
  padding: 10px 40px 10px 40px;
}

.start-selling:hover {
  background: linear-gradient(-180deg, #67bf38 0, #3db94b 100%);
}

#signup-popup {
  background-color: #000;
}

::-webkit-input-placeholder {
  color: #fff;
  text-align: center;
}

.input-text-username {
  font-size: 14px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  top: 150px;
  width: 250px;
  padding: 5px 5px 5px 5px;
  border: 2px solid #fff;
  border-radius: 5px;
  margin-top: 2%;
  text-align: center;
}

.userpage-topbar {
  background-color: #000;
  color: #fff;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.userpage-main-content {
  position: relative;
  margin: 135px 150px 50px 150px;
}

.inventory-content {
  text-align: center;
  margin-top: 10%;
}

.inventory-steps {
  margin: 5% 0% 5% 0%;
}

.inventory-steps-container {
  display: inline-block;
  vertical-align: baseline;
}

.inventory-steps-title {
  text-align: center;
  font-size: 11px;
  color: #333;
  text-transform: uppercase;
  display: block;
}

.inventory-steps-number {
  color: #fff;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  font-weight: bold;
  vertical-align: baseline;
  width: 20px;
  height: 20px;
  display: inline-block;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  background-color: #fb5b4c;
  opacity: 0.5;
  margin-bottom: 0.6%;
}

.userpage-header {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #666;
  display: block;
  margin-top: 2%;
}

.inventory-input-box {
  margin: 5% 10% 3% 10%;
}

.inventory-input {
  height: 20px;
  width: 200px;
  display: inline-block;
  border: 1px solid #333;
}

.inventory-input-padding {
  margin: 1% 0% 1% 0%;
}

.inventory-leftcol-text {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  text-align: left;
}

.inventory-righcol-text {
  text-align: left;
}

.inventory-upload {
  border: 1px solid #333;
  width: 40%;
  padding: 10px 10px 10px 10px;
}

.inventory-each-box {
  height: 100%;
  width: 100%;
  display: block;
}

.inventory-col-padding {
  margin: 3% 0% 3% 0%;
}

.inventory-type {
  border-left: 1px solid #333;
}

.inventory-type-lastbox {
  border-left: 1px solid #333;
}

.inventory-textarea {
  width: 100%;
  height: 58px;
  border: 1px solid #333;
  padding: 8px 8px 8px 8px;
}

.inventory-textarea-description {
  width: 100%;
  height: 120px;
  border: 1px solid #333;
  padding: 8px 8px 8px 8px;
}

.inventory-submit {
  color: #fff;
  background-color: #ff8187;
  text-transform: uppercase;
  padding: 10px 60px 10px 60px;
  border: none;
  margin: 3% 0% 3% 0%;
}

.inventory-submit:hover {
  background-color: #fca3a7;
}

.inventory-type-small-description {
  color: #999;
  font-size: 9px;
  width: 60%;
  padding-top: 5px;
  text-align:; left;
}

.inventory-type-title {
  font-size: 12px;
  text-transform: uppercase;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.inventory-typeItem-small-description {
  color: #999;
  font-size: 11px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding-top: 10px;
  text-align: center;
}

.inventory-typeItem-clicked {
  background-color: #ff8187;
}

.inventory-typeItem-clicked-text {
  color: #fff;
}

.inventory-text-price {
  width: 100%;
  border: 1px solid #333;
  padding: 5px 5px 5px 5px;
}

.inventory-table {
  border: 1px solid #333;
  width: 100%;
}

.inventory-table-td {
  width: 33.33%;
}